.button {
  background-color: $white;
  border: 1px solid $black;
  text-transform: lowercase;
  padding: 4px 15px;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s linear, background-color 0.2s linear;
  font-family: 'Roboto', sans-serif;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
    line-height: 22px;
  }

  &:hover {
    color: $white;
    background-color: $gray-tertiary;
  }

  &-secondary {
    text-transform: uppercase;
    background-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &-primary {
    border: none;
    padding: 10px 17px;
  }

  &-inverted {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 13px;
  }
}
