.button {
  background-color: $white;
  border: 1px solid $black;
  text-transform: lowercase;
  padding: 4px 15px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  transition: color 0.2s linear, background-color 0.2s linear;
  font-family: 'Roboto', sans-serif;

  &:hover {
    color: $white;
    background-color: $gray-tertiary;
  }

  &-secondary {
    text-transform: uppercase;
    background-color: transparent;
    width: 75px;
    height: 25px;
  }

  &-primary {
    border: none;
  }

  &-inverted {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 13px;
  }
}
