.product-tile {
  text-align: center;

  &-image {
    position: relative;

    img {
      width: 100%;
    }

    .badge {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 20px;

      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }

  h1 {
    margin-bottom: 5px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 10px;
    }

    a {
      line-height: 21px;
      font-size: 16px;
      font-weight: bold;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        line-height: 39px;
      }
    }
  }

  &-pricing {
    line-height: 27px;
    font-size: 15px;

    @include media-breakpoint-up(lg) {
      font-size: 22px;
      line-height: 39px;
    }
  }
}
